page-etiqueta {

}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.fabloc {
    //left: 30px;
    right: 270px;
    //top: 50px;
    bottom: 360px;
}

.fabloc2 {
    //left: 30px;
    right: 270px;
    //top: 50px;
    bottom: 315px;
}

.fabloc3 {
    //left: 30px;
    right: 30px;
    //top: 50px;
    bottom: 300px;
}

.fabloc4 {
    //left: 30px;
    right: 30px;
    //top: 50px;
    bottom: 270px;
}

.fabloc5 {
    //left: 30px;
    right: 30px;
    //top: 50px;
    bottom: 170px;
}

.fab[mini] {
    margin: 8px;
    width: 25px;
    height: 25px;
    line-height: 25px;
}


.textlocation {
  top: 250px;
  right: 200px;
}
